html, body, #root {
    height: 100%;
    margin: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

.btn-77 {
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: rgb(121, 103, 3);
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
    text-decoration: none;
    cursor: pointer;
}

.logoIcon path {
    fill: rgb(121, 103, 3);
}

.btn-77:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}

.btn-77:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
}


.fade_in_element{
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.fade_out_elemetn{
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;   
}

@keyframes fade_in {
    0%{
        scale: 0.7;
        opacity: 0.1;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade_out {
    0%{
        scale: 1.4;
    }
    100%{
        scale: 1;
    }
}

.cloud {
    
}